.switch {
    position: relative;
    width: fit-content;
    border: 0;
    padding: 0;
    color: var(--color-gray-100);
    margin-left: 6px;
    border-radius: var(--rounded-full);
    display: flex;
    align-items: center;

    --switch-transition-duration: 300ms;
    --thumb-size: 1.5rem;
    --track-padding: 0.25rem;
    --track-padded-space: calc(var(--track-padding) * 2);
    --track-width: calc((var(--thumb-size) * 2) + var(--track-padded-space));
    --track-height: calc(var(--thumb-size) + var(--track-padded-space));
    --thumb-travel-x: calc(var(--track-width) - var(--track-padded-space) - var(--thumb-size));

    &__track {
        pointer-events: none;
        position: absolute;
        left: 110px;
        width: var(--track-width);
        height: var(--track-height);
        border-radius: var(--rounded-full);
        background: var(--gradient-180);
        padding: var(--track-padding);
        box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 10%);
    }

    &__thumb {
        background-color: var(--color-gray-50);
        border-radius: var(--rounded-full);
        height: var(--thumb-size);
        width: var(--thumb-size);
        transition: margin var(--switch-transition-duration) ease;
    }

    &__label {
        position: absolute;
        overflow: hidden;
        width: 1px;
        height: 1px;
        opacity: 0;
    }

    &__option {
        cursor: pointer;
        height: var(--track-height);
        align-items: center;
        display: flex;

        --pad-to-track: calc((var(--track-width) / 2) + 1.5rem);

        &--label {
            transition-property: color, transform;
            transition-duration: 200ms;
            transition-timing-function: ease;
        }
    }

    &:focus-within {
        outline: 2px dashed var(--color-blue-500);
        outline-offset: 8px;
    }

    &__option--annually {
        padding: 0 var(--pad-to-track) 0 1rem;
    }

    &__option--monthly {
        padding: 0 1.3125rem 0 var(--pad-to-track);
    }

    &__option--annually &__option--label {
        width: 4.375rem;
    }

    &__option--monthly &__option--label {
        width: 4.0625rem;
    }

    &__input {
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        position: absolute;
    }

    &__input:focus-visible + &__option &__option--label {
        transform: scale(1.1);
        color: var(--color-blue-500);
    }

    &__input--annually:checked ~ &__track &__thumb {
        margin-left: 0;
    }

    &__input--monthly:checked ~ &__track &__thumb {
        margin-left: var(--thumb-travel-x);
    }

    @media (hover: hover) {
        &__option:hover &__option--label {
            transform: scale(1.1);
            color: var(--color-blue-500);
        }
    }
}
