@import "./base/fonts.css";
@import "./base/variables.css";
@import "./base/reset.css";

@import "./components/switch.css";
@import "./components/plan.css";

@import "./utils/a11y.css";

.main__container {
    position: relative;
    overflow-x: hidden;
    padding-top: clamp(4.25rem, 6vw + 2rem, 4.6875rem);
    padding-bottom: clamp(4.4375rem, 6vw + 2rem, 6.4375rem);
}

.main__bg-pattern--top {
    position: absolute;
    top: -2.25rem;
    right: -12.125rem;
}

.main__bg-pattern--bottom {
    position: absolute;
    z-index: 2;
    display: none;
    left: 0;
    bottom: 0;
}

@media screen and (min-width: 64em) {
    .main__bg-pattern--top {
        top: 0;
        right: 0;
    }

    .main__bg-pattern--bottom {
        display: block;
    }
}
