@import "./css/base/variables.css";
@import "./css/base/reset.css";

@import "./css/components/switch.css";
@import "./css/components/plan.css";

@import "./css/utils/a11y.css";

.main__container {
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-gray-50);
    font-family: var(--font-sans);
    font-size: var(--text-base);
    font-weight: var(--font-bold);
    min-height: 100vh;
    padding-top: clamp(4.25rem, 6vw + 2rem, 4.6875rem);
    padding-bottom: clamp(4.4375rem, 6vw + 2rem, 6.4375rem);
}

.main__headline {
    font-size: 2rem;
    margin-bottom: 2.6875rem;
    color: var(--color-gray-300);
}

.main__bg-pattern--top {
    position: absolute;
    top: -2.25rem;
    right: -12.125rem;
}

.main__bg-pattern--bottom {
    position: absolute;
    z-index: 2;
    display: none;
    left: 0;
    bottom: 0;
}

@media screen and (min-width: 64em) {
    .main__bg-pattern--top {
        top: 0;
        right: 0;
    }

    .main__bg-pattern--bottom {
        display: block;
    }
}
