@import "./css/base/variables.css";
@import "./css/base/reset.css";

@import "./css/utils/a11y.css";

.main__container {
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-gray-50);
    font-family: var(--font-sans);
    font-size: var(--text-base);
    font-weight: var(--font-bold);
    min-height: 100vh;
    padding-top: clamp(4.25rem, 6vw + 2rem, 4.6875rem);
    padding-bottom: clamp(4.4375rem, 6vw + 2rem, 6.4375rem);
}

.main__headline {
    font-size: 2rem;
    margin-bottom: 2.6875rem;
    color: var(--color-gray-300);
}

.main__bg-pattern--top {
    position: absolute;
    top: -2.25rem;
    right: -12.125rem;
}

.main__bg-pattern--bottom {
    position: absolute;
    z-index: 2;
    display: none;
    left: 0;
    bottom: 0;
}

.switch {
    position: relative;
    width: fit-content;
    border: 0;
    padding: 0;
    margin-bottom: 5rem;
    color: var(--color-gray-100);
    margin-left: 6px;
    border-radius: var(--rounded-full);
    display: flex;
    align-items: center;

    --switch-transition-duration: 300ms;
    --thumb-size: 1.5rem;
    --track-padding: 0.25rem;
    --track-padded-space: calc(var(--track-padding) * 2);
    --track-width: calc((var(--thumb-size) * 2) + var(--track-padded-space));
    --track-height: calc(var(--thumb-size) + var(--track-padded-space));
    --thumb-travel-x: calc(var(--track-width) - var(--track-padded-space) - var(--thumb-size));
}

.switch__track {
    pointer-events: none;
    position: absolute;
    left: 110px;
    width: var(--track-width);
    height: var(--track-height);
    border-radius: var(--rounded-full);
    background: var(--gradient-180);
    padding: var(--track-padding);
    box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 10%);
}

.switch__thumb {
    background-color: var(--color-gray-50);
    border-radius: var(--rounded-full);
    height: var(--thumb-size);
    width: var(--thumb-size);
    transition: margin var(--switch-transition-duration) ease;
}

.switch__label {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.switch:focus-within {
    outline: 2px dashed var(--color-blue-500);
    outline-offset: 8px;
}

.switch__option {
    cursor: pointer;
    height: var(--track-height);
    align-items: center;
    display: flex;

    --pad-to-track: calc((var(--track-width) / 2) + 1.5rem);
}

.switch__option--label {
    transition-property: color, transform;
    transition-duration: 200ms;
    transition-timing-function: ease;
}

.switch__option.annually {
    padding: 0 var(--pad-to-track) 0 1rem;
}

.switch__option.monthly {
    padding: 0 1.3125rem 0 var(--pad-to-track);
}

.switch__option.annually .switch__option--label {
    width: 4.375rem;
}

.switch__option.monthly .switch__option--label {
    width: 4.0625rem;
}

.switch__option--input {
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    position: absolute;
}

.switch__option--input:focus + .switch__option span {
    transform: scale(1.1);
    color: var(--color-blue-500);
}

.switch__option--input.annually:checked ~ .switch__track .switch__thumb {
    margin-left: 0;
}

.switch__option--input.monthly:checked ~ .switch__track .switch__thumb {
    margin-left: var(--thumb-travel-x);
}

.plan__wrapper {
    z-index: 99;
    position: relative;
    width: calc(100vw - 3rem);
    max-width: 30rem;
    text-align: center;
}

.plan__wrapper > * + * {
    margin-top: 2rem;
}

.plan__item {
    border-radius: var(--rounded-base);
    background: var(--item-background-color);
    padding: 2.25rem 1.8125rem 1.9375rem;
    color: var(--item-foreground);
    box-shadow: var(--shadow-sm);
}

.plan__item:nth-child(1),
.plan__item:nth-child(3) {
    --item-background-color: var(--color-white);
    --item-button-background: var(--gradient-180);
    --item-button-foreground: var(--color-gray-50);
    --item-foreground: var(--color-gray-300);
    --item-foreground-accent: var(--color-gray-500);
    --item-border-color: var(--color-gray-100);
    --item-border-color-accent: var(--color-blue-500);
}

.plan__item:nth-child(2) {
    --item-button-background: var(--color-white);
    --item-button-foreground: var(--color-blue-500);
    --item-foreground: var(--color-gray-50);
    --item-foreground-accent: var(--color-white);
    --item-border-color: var(--color-gray-50);
    --item-border-color-accent: var(--color-gray-50);
    --item-background-color: var(--gradient-45);
}

.plan__title {
    font-size: 1.125rem;
    margin-bottom: 1.75rem;
}

.plan__price {
    font-size: 4.5rem;
    letter-spacing: -0.03em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    color: var(--item-foreground-accent);
}

.plan__price--annually {
    display: none;
}

.plan__price--currency {
    font-size: 2.5rem;
    margin-right: 0.625rem;
}

.plan__offer__list {
    border-bottom: 1px solid var(--item-border-color);
    margin-bottom: 2rem;
}

.plan__offer__item {
    padding: 1.125rem 0 1.1875rem;
    border-top: 1px solid var(--item-border-color);
}

.plan__link {
    position: relative;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    font-size: 0.8125rem;
    letter-spacing: 0.1em;
    padding: 1rem 0 0.9375rem;
    border-radius: var(--rounded-sm);
    transition-property: color;
    transition-duration: 200ms;
    transition-timing-function: ease;
    color: var(--item-button-foreground);
}

.plan__link:focus-visible {
    outline: 2px dashed var(--item-border-color-accent);
    outline-offset: 4px;
}

.plan__link::after,
.plan__link::before {
    border-radius: inherit;
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 200ms ease;
}

.plan__link::before {
    border: 1px solid var(--item-border-color-accent);
}

.plan__link::after {
    background: var(--item-button-background);
}

@media not all and (hover: none) {
    .plan__item:nth-child(1) .plan__link:hover,
    .plan__item:nth-child(3) .plan__link:hover {
        color: var(--color-blue-500);
    }

    .plan__item:nth-child(2) .plan__link:hover {
        color: var(--color-gray-50);
    }

    .plan__link:hover::after {
        opacity: 0;
    }

    .switch__option:hover span {
        transform: scale(1.1);
        color: var(--color-blue-500);
    }
}

@media screen and (min-width: 64em) {
    .main__bg-pattern--top {
        top: 0;
        right: 0;
    }

    .main__bg-pattern--bottom {
        display: block;
    }

    .switch {
        margin-bottom: 4rem;
    }

    .plan__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 65.625rem;
    }

    .plan__item {
        margin: 0 !important;
        align-self: center;
        padding-left: 1.9375rem;
        padding-right: 1.9375rem;
    }

    .plan__item:nth-child(2) {
        padding-top: 3.75rem;
        padding-bottom: 3.4375rem;
    }
}
